<!DOCTYPE html>
<html lang='es'>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<title>Home</title>
<body class=" bg-[url('/iconos/mario.png')] bg-cover bg-no-repeat">
<header class='bg-[#1C1919CC] bg-opacity-80  w-full px-6 overflow-hidden'>
    <div class="flex flex-col lg:flex-row justify-between items-center h-full p-4">
        <h1 class="font-[primary] not-italic text-[20px] lg:text-[35px] font-extrabold">
            <span class="text-[#E169E3]">KIRBY </span><span class="text-[#5990D2]">PREGUNTA</span>
        </h1>
    </div>
</header>
<main class="h-[80vh] my-8 flex items-center justify-center">
    <div class="flex flex-col items-center justify-around gap-y-6">
        <div class="flex flex-col lg:flex-row gap-y-2 items-center justify-center">
            <!--Crear partida y ultima partida-->
            <div class="flex flex-col gap-y-2 lg:gap-y-14 ">
                <!--Crear partida-->
                <div class="relative bg-[#1C1919] bg-opacity-80 w-[341px] h-[117px] lg:w-[625px] lg:h-[202px] rounded-2xl flex justify-start items-center ">
                    <a href="/comenzandoPartida"
                       class="text-white text-[10px] lg:text-[15px] lg:tracking-[0.16em] font-semibold">
                        <div class="hover:bg-gray-200 hover:text-black flex justify-center items-center bg-[#252121] rounded-2xl w-[125px] h-[24px] lg:w-[305px] lg:h-[41px] ml-4">
                            CREAR PARTIDA
                        </div>
                    </a>
                    <img th:src="@{iconos/crearPartida.png}" alt="crearPartida"
                         class="absolute lg:-top-28 right-0 max-w-[100%] w-[194px] h-[194px] lg:w-[338px] lg:h-[380px] ">
                </div>
                <!--Ultima partida-->
                <div class="relative bg-[#1C1919] bg-opacity-80 w-[341px] h-[117px] lg:w-[625px] lg:h-[202px] rounded-2xl flex">
                    <div class="flex flex-col justify-center gap-y-2 ml-4 ">
                        <h1 class="font-semibold text-[15px] lg:text-[20px] tracking-[0.12em]  text-white">ULTIMA
                            PARTIDA</h1>
                        <div class="flex items-center gap-x-2">
                            <img class="w-[18px] lg:w-[28px] max-w-[100%]" th:src="@{iconos/crown.png}">
                            <label th:if="${ultimaPartida!=null}" class="text-[12px] lg:text-[20px] text-white" th:text="${ultimaPartida.puntos}"></label>
                            <label th:if="${ultimaPartida==null}" class="text-[12px] lg:text-[20px] text-white" th:text="${mensaje}"></label>
                        </div>
                        <div class="flex gap-x-2">
                            <a th:href="@{/partida}" th:if="${partidaActiva!=null}"
                               class="text-white text-[10px] lg:text-[15px] lg:tracking-[0.16em] font-semibold">
                                <div class="flex justify-center items-center bg-[#252121] rounded-2xl w-[97px] h-[19px] lg:w-[200px] lg:h-[35px] hover:bg-gray-200 hover:text-black">
                                    CONTINUAR PARTIDA
                                </div>
                            </a>
                            <div class="flex justify-center items-center gap-x-2">
                                <div>
                                    <button id="foto-perfil" type="button" data-dropdown-toggle="userDrodown"
                                            data-dropdown-placement="bottom-start"
                                            class="text-[#9D9D9D] text-[15px] font-semibold tracking-[0.10em]">VER HISTORIAL</button>

                                    <div id="userDrodown"
                                         class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                                            <li>
                                                <a  th:href="@{/historialPartidas}"
                                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Historial de partidas</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/historialDuelos}"
                                                   class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Historial de duelos</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img th:src="@{iconos/historialPartidas.png}"
                         class="absolute -top-8 lg:-top-14 -right-4 max-w-[100%] w-[152px] h-[162px] lg:w-[286px] lg:h-[285px]">
                </div>
            </div>
            <!--Ranking-->
            <div class="bg-[#1C1919] bg-opacity-80 w-[339px] h-full lg:ml-16 lg:w-[335px] lg:h-[487px] rounded-2xl flex flex-col items-center justify-around ">
                <div class="lg: h-[40px] flex justify-between  items-center gap-2 my-2 mx-auto rounded-2xl p-4 bg-[#1C1919] bg-opacity-80 lg:w-[300px] text-center text-[15px] lg:text-xl text-white">
                    <img th:src="@{iconos/puntos.png}" class="w-[15px]">
                    <p>RANKING</p>
                    <img th:src="@{iconos/puntos.png}" class="w-[15px]">
                </div>

                <div th:each="user : ${usuarios} " class="flex justify-center items-center flex-col gap-x-2 gap-y-2 lg:gap-y-6">
                    <div class="w-[280px] h-[40px] lg:w-[310px] lg:h-[60px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80 flex items-center">
                        <p class="text-white ext-[15px] lg:text-xl ml-1 mr-4 " name="posicion"></p>
                        <img th:src="@{${user.fotoPerfil}}"
                             class="max-w-[100%] w-[30px] lg:w-[45px] h-full rounded-xl">
                        <form th:action="@{/perfil}" method="get">
                            <button type="submit" class="text-white text-[15px] lg:text-xl m-4" th:value="${user.id}" th:text="${user.username}"
                                    name="idUsuario"></button>
                        </form>
                        <p class="text-white ext-[15px] lg:text-xl ml-auto mr-2" th:text="${user.puntaje}"></p>
                    </div>
                </div>
                <div class="flex justify-center my-2 text-white">
                    <a class="lg:w-[300px] h-[40px] rounded-xl bg-[#1C1919] bg-opacity-80 flex justify-center items-center p-2 text-[15px] lg:text-2xl"
                       th:href="@{/ranking}">
                        Ver ranking completo
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>