<!DOCTYPE html>
<html lang='es'>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<title>Registro</title>
<body class=" bg-[url('/iconos/mario.png')] bg-cover bg-no-repeat">
<header class='bg-[#1C1919CC] bg-opacity-80  w-full px-6 overflow-hidden' th:include="./fragments/header.html">

</header>
<main class="container mx-auto my-4 flex justify-center">
  <div class="relative rounded-2xl p-6 bg-[#1C1919] bg-opacity-80 lg:w-[1137px] h-auto flex justify-center items-center flex-col">
    <img class="absolute -top-8 -right-8 md:-right-20 lg:top-0 lg:-right-16 w-[90px] h-[90px] md:w-[150px] md:h-[150px]" th:src="@{iconos/kirbyRegistro.png}">
    <h2 class="mb-2 lg:mb-6 tracking-[0.12em] text-white font-semibold text-[15px] md:text-[20px] uppercase">Crear cuenta</h2>
    <form class="text-white font-light h-full tracking-[0.06em] text-[15px]" th:action="@{/registro}" method="POST" enctype="multipart/form-data" th:object="${datosRegistro}">
      <div class="flex flex-col md:flex-row gap-x-6 justify-center">
        <div class="flex flex-col gap-y-6">
          <input class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80"
                 type="text" name="nombre" id="nombre" th:field="*{nombre}" placeholder="Nombre" required>

          <input class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80"
                 type="date" name="fechaNacimiento" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="Fecha de nacimiento" required>

          <select class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80 bg-"
                  name="idSexo" id="idSexo" required th:field="*{idSexo}">
            <option value="" selected>Sexo</option>
            <option th:each="sexo : ${sexos}" th:value="${sexo.id}" th:text="${sexo.descripcion}"></option>
          </select>

          <select class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80 bg-"
                  name="idCiudad" id="idCiudad" required th:field="*{idCiudad}">
            <option value="" selected>Ciudad</option>
            <option th:each="ciudad : ${ciudades}" th:value="${ciudad.id}" th:text="${ciudad.nombre} + ', ' + ${ciudad.pais.nombre}"></option>
          </select>
          <input class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80"
                 type="file" name="img" id="img" th:field="*{img}" placeholder="Imagen">
        </div>

        <div class="flex flex-col gap-y-6">
          <input class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80"
                 type="text" name="username" id="username" th:field="*{username}" placeholder="Nombre de usuario" required>

          <input class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80"
                 type="password" name="password" id="password" th:field="*{password}" placeholder="Password" required>

          <input class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80"
                 type="password" name="repetirPassword" th:field="*{repetirPassword}" id="repetirPassword" placeholder="Repetir Password" required>

          <input class="w-[280px] h-[32.88px] lg:w-[430px] lg:h-[47px] rounded-xl p-2 outline-0 bg-[#252121] bg-opacity-80"
                 type="email" name="mail" id="mail" th:field="*{mail}" placeholder="Email" required>

          <button class="w-[159px] h-[40px] rounded-2xl bg-[#252121] bg-opacity-80 font-normal text-[12px] lg:text-[16px] uppercase mx-auto"
                  type="submit" name="registrarme">Registrarse</button>
        </div>
      </div>
    </form>
  </div>

  <div th:if="${mensaje!=null}" id="contenedorMensajePopUp" class="rounded-3xl bg-gradient-to-br from-zinc-700 to-zinc-900
        fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col" th:include="./popUp/mensaje.html">

  </div>

</main>
<script th:src="@{/js/funciones/cerrarPopUp.js}"></script>
</body>
</html>